::-webkit-scrollbar {
    width: 7px; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,blue, #FFFFFF, #010c3d);
    border-radius: 4px; 
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px ;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
    opacity: 0.9;
}

.navbar .logo{
    font-size: 50px;
}

.navbar .lien{
    display: flex;
    gap: 25px;
}

.lien a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.sociaux {
    display: flex;
    align-items: center;
    gap: 10px;

}
